@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: auto;
}

body {
	margin: 0;
}

.header {
	background-color: orange; padding : 20px;
	text-align: center;
	padding: 20px;
}

.topnav {
	overflow: hidden;
	background-color: yellow;

}

.topnav a:hover {
	background-color: red;
	color: black;
}

.column {
	float: left;
	padding: 10px;
}

.column.side {
	width: 25%;
	height: 500px;
	border: 1ch;
}

.column.middle {
	width: 50%;
	
}

.row:after {
	content: "";
	
	clear: both;
}

@media screen and (max-width:600px) {
	.column.side, .column.middle {
		width: 100%
	}
}
.footer{
	background-color:grey;
	padding:10px;
	text-align:center;
}