@charset "EUC-KR";
/*태그 선택자 : p태그에 글자색(color)을 빨간색으로 적용*/
/*
선택자{
      속성:값
}
*/

p{
  color:red;
}
/*클래스 선택자(.): class의 값이 hi인 것에 배경색(background-color)을 녹색(green)으로 적용*/
.hi{
   background-color:green;
   color:yellow; 
}
/*id 선택자(#): id의 값이 h3인것에 글자색을 회색으로 적용*/
#hi3{
    color:grey;
}
            
